.sony-bar{
    background-color: black;
    height: 30px;
}
.sony-logo{
    height: 15px;
}

/*RISCRITTURA BOOTSTRAP*/ 
nav{
    height: 80px;
}

.nav-link {
    color: black;
}
.navbar-toggler{
    border: 1px solid black;
}
.login button{
    border-radius: 30px
}
.ok i{
    font-size: 50px;
}

/*FINE RISCRITTURA*/

.jumbotrone{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}
.jumbo-content{
    color: white;
    font-weight: bolder;
}
.banner img{
    width:250px;
    margin-top: 70px;
}
.push button{
    background-color: orangered;
    border-radius: 20px;
}
.push button:hover{
    border: 2px solid black;
}
.mini-games img{
    width: 100%; 
    border-radius: 20px;
    border: 2px solid white;

}
.mini-games img:hover{
    border: 2px solid blue;
}
.games{
    margin-top: 24px;
}
.harware{
    background-color: #fff;
}

.title-hardware{
    text-align: center;
    margin-top: 30px;
}
.harware-picture img{
   
    width: 100%;
}
