.sony-bar{
    background-color: black;
    height: 30px;
}
.sony-logo{
    height: 15px;
}

/*RISCRITTURA BOOTSTRAP*/ 
nav{
    height: 80px;
}

.nav-link {
    color: black;
}
.navbar-dark .navbar-toggler{
    border: 1px solid white;
}
/*FINE RISCRITTURA*/

section{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position:center;
    height: 600px;    
}
.jumbo-content{
    color: white;
    font-weight: bolder;
}
.banner{
    width:150px;
}