.sony-bar{
    background-color: black;   
}
.sony-logo{
    height: 15px;
}

/*RISCRITTURA BOOTSTRAP*/ 
.navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1001;
    background-color: white;
}
.nav-link , .nav-item i{
    color: black;
}
.nav-link:hover{
    color: blue;
}
.nav-item i:hover{
    color: blue;
}
.navbar-toggler{
    border: 1px solid black;
}
.login button{
    border-radius: 30px;
    border: 2px solid #f2f2f2;
}
.login button:hover{
    border: 2px solid black;
    background-color: lightslategray;
}
.search li i{
    font-size: 60px;
}
.navbar i{
    vertical-align: middle;   
}

/*FINE RISCRITTURA*/

.jumbotrone{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    
}
.banner-content{
    color: white;
    font-weight: bolder;
    padding-bottom: 70px;
    padding-top: 150px;
}
.banner-logo img{
    width:250px;
    margin-top: 70px;
}
.push button{
    background-color: orangered;
    border: 1px solid #e6e6e6;
    border-radius: 20px;
}
.push button:hover{
    background-color: orangered;
    border: 1px solid orangered;
}
/*BOX MINI-GAMES*/

.mini-games img{
    width: 100%; 
    border-radius: 20px;
    border: 2px solid white;
}
.mini-games img:hover{
    border: 2px solid blue;
}
.games{
    margin-top: 24px;
}
/*PLAYSTATION 5 E ACCESSORI*/

.title-hardware{
    text-align: center;
    margin-top: 30px;
}
.title-hardware a{
    text-decoration: none;
}
.hardware-content{
    line-height: 20px;
}
.hardware-picture img{
   width: 100%;
}
.hardware-button{
    border-radius: 20px;
    border: 1px solid #e6e6e6;
}
.hardware-button:hover{
    border: 1px solid blue;
    background-color: aqua;
}
.box-accessories{
    opacity: 0.5;
    border-bottom: 1px solid white;
}
.box-accessories:hover{
    opacity: 1;
    border-bottom: 1px solid blue;
}
.accessory{
    text-align: center;
}
.accessory img{
    width: 100%;
}
.banner-page{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

/*GAME GRID E NUOVE USCITE*/

.game-grid{
    background-color: #191919;
}
.game-grid-text, .mini-game-grid-text{
    color: white;
}
.mini-game-grid img{
    width: 100%;
    border-radius: 20px;
}
.mini-game-grid-text span{
    vertical-align: super;
    padding-right: 2px;
    font-size: 5px;   
}

/*PLAYSTATION 4*/
.play-4-title{
    text-align: center;
    margin-top: 30px;
    line-height: 10px;
}
.play-4-title i{
    color: black;
    font-size: 10px;
    vertical-align: super;
}
.play-4-title h5, .play-4-description p{
    font-weight: 600;
    color:lightslategray;
}

.play-4-content img{
    width: 100%;
}
.discover button{
    background-color: blue;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
}
.discover button:hover{
    border: 1px solid blue;
    background-color: cadetblue;
}
/*PLAYSTATION PLUS*/
.playstation-plus{
    background-color: rgb(190, 188, 188);
    padding-top: 25px;
    padding-bottom: 25px;

}
.playstation-plus-logo img{
    width: 100%;
}
.playstation-plus-description{
    margin-top: 20px;
}
.playstation-plus-description p{
    font-weight: 500;
}
.playstation-plus-content img{
    width: 100%;
}
.playstation-plus-description > button{
    border-radius: 20px;
    background-color:#e6e6e6;
    padding-top: 10px;
    padding-bottom: 10px;
    color:blue;
}
.playstation-plus-description button:hover{
    background-color: #007a99;
}
/*PS DISCOUNTS*/
.discounts-title{
    text-align: center;
    margin-top: 30px;
}
.discounts-title > h5{
    margin-top: 20px;
    color: darkgrey;
}
.discount img{
    width: 100%;
}
/*PLAYSTATION NOW*/
.playstation-now{
    background-color: #00004d;
    padding-top: 24px;
    padding-bottom: 24px;
}
.playstation-now-logo img{
    width: 100%;
}
.playstation-now-description{
    margin: top 20px; 
}
.playstation-now-description p{
    color: white;
}
.playstation-now-content img{
    width: 100%;
}
.playstation-now-description > button{
    border-radius: 20px;
    background-color:#e6e6e6;
    padding-top: 10px;
    padding-bottom: 10px;
}
.playstation-now-description button:hover{
    background-color: #007a99;
}
/*SOCIAL MEDIA*/
.media-title{
    text-align: center;
    margin-top: 30px;
}
.social img{
    width: 100%;
}
/*FOOTER*/
.site-footer{
    background-color: #00439c;
}
.footer img{
    width: 100px;
}
.footer-content, i, span{
    color: white;
}
.footer, a, p{
    color: white;
    text-decoration: none;
}
.footer-text p{
    font-size: 15px;
}
.footer-text a{
    text-decoration: underline;
}
.footer ul{
    list-style: none;
   
}
.sony-interactive img{
    width: 80px;
}

